/* .header-div{
    display: flex;
    align-items: flex-end;  
}
.h1-header{
    color: rgb(255, 225, 0);
    font-size: 50px;
    margin-left: 20px;
    margin-top:10px;
}
.h1-header:hover{
    cursor: pointer;
}
.txt-search{

}
.btn-search{

} */
.header-div{
    display:flex;
    /* border: 1px solid red; */
    flex-direction: row;
    justify-content: space-between;
    
}
.h1-header{
    color: rgb(255, 225, 0);
    font-size: 50px;
    margin-left: 20px;
    margin-top:10px;
}
.h1-header:hover{
    cursor: pointer;
}
.nav-div{
    /* border: 1px solid red; */
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-div a{
    margin: 10px;
    color: rgb(255, 225, 0);
    font-size: 30px;
    text-decoration: none;
}
.nav-div a:hover{
   text-decoration: underline;
}
.search-div{
    /* border: 1px solid red; */
    display: flex;
    width:400px;
    align-items: center;
    justify-content: center;
    margin-left:180px;
}
.txt-search{
    width: 250px;
    height:30px;
    border-radius: .2em;
    border-color:#ffe100;
    color: rgb(255, 225, 0);
    font-size: large;
}
.p-search{
    padding-top:30px;
    width: 50px;
    height:50px;
    margin:10px;
}
.p-search:hover{
    cursor: pointer;
}
.logo-div{
    /* border: 1px solid red; */
    display: flex;
    cursor: pointer;
}
.logo-header{
    /* border: 1px solid red; */
    width:100px;
    height:100px;
    margin: 10px;
    /* color:rgb(255, 225, 0); */
    /* background-color: hsl(56, 100%, 50%); */
    /* filter:brightness(1) invert(0); */
    border: none;
    /* mix-blend-mode: multiply; */
}
.header-h3{
    color:rgb(255, 225, 0);
    margin-top: 70px;
    font-size:large;
}

















/*old-working code
/* nav{
    flex-grow: 3;
    /* border: 1px solid red; */
    /* height: 80px; */
    /* margin-left:850px; */
    /* display: flex; */
    /* align-content: right; */
/* } */
/* nav a{
    color: rgb(255, 225, 0); 
    font-size: xx-large; */
    /* padding: 60px; */
    /* padding: 20px;
    
    text-decoration: none; 
} */
/* nav a:hover{
    text-decoration: underline;
    font-size: 35px;
} */
