.show-card-gp{
    display: grid;
    grid-template-rows: 1fr .5fr;
    grid-template-columns: 2fr 3fr;
    /* border: 1px solid red; */
    margin-top:30px;
    height: 700px;
    
}
.show-card-p1{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin: 20px;
    padding: 20px;
   
}
.show-card-seasons{
    display: flex;
   
    
}
.h5-seasons{
    margin:5px;
}
button{
    align-self: center;
    margin: 10px;
    width:150px;
    height:30px;
    border-radius: .5em;
    color:rgb(238, 94, 23);
    font-size: medium;
    font-weight: bold;
}
.show-card-p2{
    /* border: 1px solid red;  */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .5fr 3fr .5fr;
    margin: 20px;
}

.show-card-c2{
    display:grid;
    grid-template-columns: 1fr 1.8fr;
}
h1{
    color:rgb(238, 94, 23);
}
span{
    display: flex;
    flex-direction: column;
    font-size: medium;
    color: rgb(238, 94, 23);
}
#sum-id{
    text-align: justify;
    margin-left: 50px;
}
h5{
    font-size: medium;
}
.stock-card-img{
    border-radius: .2em; 
    width: 230px; 
    height: 320px;
    align-self: center;
    margin:20px;
}
.stock-card-img:hover{
    width: 235px;
    height:325px;
    border-radius: .2em;
    box-shadow: 2px 0px 2px 0px gray;  
    
}
.not-avail-img{
    width: 230px; 
    height: 320px; 
}
button:hover{
    width:160px;
    height:35px;
    background-color: rgb(167, 164, 164);
    color:rgb(238, 94, 23);
    font-weight:bold;
}
.carousel-img{
    width: 180px;
    height:240px;
}
.not-avail-img{
    width: 230px;
    height:320px;
    margin:20px;
    border-radius: .2em; 
}